.copy {
  line-height: 2;
  font-size: 0.75rem;
  margin: 0;
}

.title {
  font-size: 1.3rem;
}

.subtitle {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.copy,
.list-item {
  line-height: 2;
  font-size: 0.75rem;
  margin: 0;
}

.copy.bold {
  font-weight: 600;
}

.list {
  padding: 0;
  list-style-position: inside;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.list-item span {
  font-weight: bold;
  color: #323232;
  position: relative;
}

@media screen and (min-width: 391px) {
  .list-item span {
    left: -8px;
  }
}
