.contact-form,
.name-email {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#errors-warn {
  padding: 5px;
  text-align: center;
}

@media screen and (min-width: 391px) {
  .name-email {
    flex-direction: row;
    justify-content: space-between;
  }
}
