@media screen and (min-width: 391px) {
  .contact {
    grid-area: main;
    display: grid;
    grid-template:
      "left content right" auto
      / 17% 1fr 1fr 11.5%;
    overflow-y: hidden;
  }

  .contact-content {
    grid-column: 2 / 4;
    display: flex;
    gap: 60px;
    width: 100%;
  }

  .contact-copy {
    grid-area: a;
    padding: 0 0;
    min-width: 0;
    min-height: 100vh;
  }

  .contact-img {
    grid-area: b;
    width: 100%;
    height: auto;
    background-image: url("../../images/Img_Contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5px -50px;
  }
}
