.btn {
  background-color: #2f7bb8;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: 0.75rem;
  width: 100%;
  font-weight: 600;
}

.btn-white {
  background-color: #eff7ff;
  color: #2f7bb8;
}

.link {
  width: 100%;
}

.login-btn {
  cursor: not-allowed;
}

@media screen and (min-width: 391px) {
  .btn {
    width: max-content;
    padding: 15px 33px;
    border-radius: 3px;
    font-size: 0.6rem;
  }

  .btn-white {
    padding: 15px 47px;
  }

  .btn-submit {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 0.7rem;
  }

  .link {
    width: fit-content;
  }
}
