.hm-learn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.hm-learn-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hm-learn-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #4e4e4e;
}

@media screen and (min-width: 391px) {
  .hm-learn {
    grid-area: learn;
    display: grid;
    grid-template:
      "a b" auto
      / 1fr 1fr;
    gap: 40px;
    padding: 50px 0;
  }

  .hm-learn-img-cont {
    border-radius: 5px;
    grid-area: b;
  }

  .hm-learn img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0px 0px;
    clip-path: inset(21px 8px 23px 9px);
    transform: translate(0px, -14px);
  }

  .hm-learn-text-wrapper {
    order: -1;
    grid-area: a;
  }
}
